export(
    classify,
    classifyPairs,
    cluster,
    contributions,
    cvFolds,
    featureFilter,
    input,
    imputeCensored,
    misclassificationPenalties,
    normalize,
    parscores,
    regression,
    singleBest,
    singleBestByCount,
    singleBestByPar,
    singleBestBySuccesses,
    successes,
    trainTest,
    vbs
)
importFrom(plyr, ddply)
importFrom(rJava, J, .jpackage, .jarray)
importFrom(parallelMap, parallelMap)
