export(
    classify,
    cluster,
    cvFolds,
    featureFilter,
    input,
    imputeCensored,
    misclassificationPenalties,
    normalize,
    parscores,
    regression,
    successes,
    trainTest
)
importFrom(plyr, ddply)
importFrom(foreach, foreach, "%dopar%")
